$color-primary: #222D32;

$color-red: #E13448;
$color-blue: #008BF3;
$color-blue--darker: #006df3;
$color-green: #26A69A;
$color-white: #FFFFFF;
$color-gray: #616161;

$color-text--default: $color-primary;
$color-text--secondary: $color-gray;
$color-text--white: $color-white;

